.main {
    z-index: 10;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 230px 0px 0px 0px;
    position: relative;
    min-height: 800px;
    @media (min-width:em(2300)){
        min-height: 900px;
    }
    @media (min-width:em(2000)){
        padding: 243px 0 280px 0 ;
    }
    @media (min-width:em(2300)){
        padding: 383px 0 280px 0 ;  
    }
    @media (min-width:em(2300)){
        padding: 300px 0 280px 0 ;
    }
    @media (max-width:$mobile){
        padding: 160px 0; 
    }
    @media (max-width:$mobileSmall){
        padding: 140px 0;   
    }
    &__container {
        @media (min-width:em(2000)){
            max-width: 1700px;
        }
        @media (min-width:em(2300)){
            max-width: 1900px;
        }
    }

    &__body {
        @media (min-width:em(2000)){
            max-width: 1000px;
        }
        @media (min-width:em(2300)){
            max-width: 1200px
        }
        display: flex;
        flex-direction: column;
        max-width: 850px;
        text-transform: uppercase;
        position: relative;
        @media (max-width:$mobileSmall){
            text-align: center; 
        }
    }

    &__sub-title {
        @media (min-width:em(2000)){
            font-size: 24px;
        }
        @media (min-width:em(2300)){
            font-size: 28px;
        }
        font-size: 18px;
        color: #cdd1c3;
        padding: 0px 0px 16px 0px;
        letter-spacing: 3.24px;
        text-wrap: balance;
        font-weight: 500;
        @media (max-width:$mobileSmall){
            font-size: 14px;
            max-width: 70%;
            margin: 0px auto;
       }
    }

    &__title {
        @media (min-width:em(2000)){
            font-size: 62px;
        }
        @media (min-width:em(2300)){
            font-size: 72px;
        }
        font-size: 56px;
        line-height: 1.2;
        color: #ecedc5;
        font-family: var(--font-accent);
        padding: 0px 0px 48px 0px;
        font-weight: 500;
        @media (max-width:$mobile){
             font-size: 46px; 
        }
        @media (max-width: em(575.98)){
            font-size: 32px; 
        }
    }

    &__button {
        @media (min-width:em(2000)){
            width: 320px;
            min-height: 74px;
            font-size: 24px;
        }
        @media (min-width:em(2300)){
            width: 380px;
            min-height: 84px;
            font-size: 28px;
        }
       width: 280px;
       min-height: 64px;
       background-color: #ECEDC5;
       transition: all 0.3s ease 0s;
       font-size: 18px;
       line-height: 1;
       svg{
            margin: 0px 16px 0px 0px;
            transition: all 0.3s ease 0s;
        }
       @media (max-width:em(575.98)){
         width: 100%; 
       }
    }

    &__decore {
        position: absolute;
        z-index: 1;
        bottom: 16px;
        @media (max-width:$mobileSmall){
             width: 70px; 
        }
    }
}
.container {
}
.main-decore-1 {
    left: 10%;
    @media (max-width:$pc){
        left: 0;
    }
}
.main-decore-2 {
    right: 10%;
    transform: scaleX(-1);
    @media (max-width:$pc){
        right: 0;
    }
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 800px;
    &__wrapper{
        &::after{
            content: "";
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: rgba($color: #000000, $alpha: .25) ;
            z-index: 0;
        }
    }
}
